<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About This</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}"> <!-- Link to the CSS file -->
</head>
<body>
    <div class="about-container">
        <header class="about-header">
            <h1>About This Project</h1>
        </header>

        <section class="about-introduction">
            <p>
                Welcome to my little D&D Character creator project. This is meant to be a web app which can help you create D&D characters quickly!
            </p>
        </section>

        <section class="about-team">
            <h2>Who am I?</h2>
            <p>
                My name is Phil and am passionate about D&D and coding!
            </p>
        </section>
    </div>
</body>
</html>

               
